<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <title>Lista Produtos</title>
</head>
<body>

	    <section class="layout-content" layout:fragment="corpo">
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Lista de Produtos</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/produtos/cadastrar" role="button">
	                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                    <span>Cadastrar produtos</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container">
	
	
	            <div class="table-responsive">
	            	
	                <table class="table table-striped table-hover table-sm">
	                    <thead>
	                    <tr>
	                        <th>#</th>
	                        <th>Nome</th>
	                        <th>Código de Barras</th>
	                        <th>Tipo do Produto</th>
	                        <th>Data de Fabricação</th>
	                        <th>Data de Validade</th>
	                        <th>Preço</th>
	                        <th>Ação</th>
	                    </tr>
	                    </thead>
	                    <tbody>
		                    <tr th:each="p : ${produtos}">
		                        <td th:text="${p.id}"></td>
		                        <td th:text="${p.name}"></td>
								<td th:text="${p.barCode}"></td>
								<td th:text="${p.type}"></td>
								<td th:text="${#temporals.format(p.manufactoringDate, 'dd/MM/yyyy')}"></td>
		                        <td th:text="${#temporals.format(p.expirationDate, 'dd/MM/yyyy')}"></td>
		                        <td th:text="|R$ ${{p.unitPrice}}|"></td>
		                        <td colspan="2">
		                            <a class="btn btn-info btn-sm" th:href="@{/produtos/editar/{id} (id=${p.id}) }" role="button">
		                                <span class="oi oi-brush" title="Editar" aria-hidden="true">Editar</span>
		                            </a>
		                            <a class="btn btn-danger btn-sm" th:href="@{/produtos/excluir/{id} (id=${p.id}) }" role="button">
		                                <span class="oi oi-circle-x" title="Excluir" aria-hidden="true">Excluir</span>
									</a>
		                        </td>
		                    </tr>    
	                    </tbody>
	                </table>
	            </div>
	        </div>
	    </section>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>		
